@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


* {
    font-size: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    text-align: center;
    margin-top: 40px;
    height: 90dvh;
}

body h1 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    color: black;
    text-align: center;
}
footer {
    align-content: end;
}

footer a {
    text-decoration: none;
    color: #3f3f3f;
    font-weight: lighter;
}

.button {
    position: relative;
    border: none;
    background-color: #3f3f3f;
    padding: 12px;
    border-radius: 10px;
    color: white;
}

.button:hover {
    cursor: pointer;
    background-color: #818181;
}

.darkmode {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    gap: 20px;
    width: 80vw;
    margin: 0 auto;
}

.container-item {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tarjeta {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.tarjeta h3 {
    text-align: center;
}

.tarjeta-img {
    height: 15px;
    width: auto;
    margin: 0 auto;
}

.container-item:hover {
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: 0.1s;
}

.container-dark {
    background-color: #cecece;
}

#switch-button {
    border-radius: 12px;
    border: 1px solid gray;
    background-color: white;
}

#switch-img {
    height: 20px;
    width: auto;
    background-color: white;
    padding: 6px;
}

#switch-button:hover {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
